.finderui-main {
  display: flex;
  height: 100vh;
  left: 0;
  overflow-x: scroll;
  overflow-y: hidden;
  position: fixed;
  top: 0;
  width: 100vw;
}
.finderui-main a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
.finderui-main button {
  background-color: transparent;
  color: inherit;
  border-width: 0;
  padding: 0;
  cursor: pointer;
}
.finderui-main ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.finderui-main h1, .finderui-main h2, .finderui-main h3, .finderui-main h4, .finderui-main h5, .finderui-main h6 {
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
}
.finderui-main p {
  margin: 0;
}
.finderui-main .finderui-frame {
  display: flex;
  flex-direction: row;
  height: 100%;
  min-width: 100%;
}
.finderui-main .finderui-frame .finderui-pane {
  display: flex;
  width: 100%;
}
.finderui-main .finderui-frame .finderui-pane .finderui-nodelist {
  list-style-type: none;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 0;
  min-width: 180px;
}
.finderui-main .finderui-frame .finderui-pane .finderui-nodelist.nodelist-closed {
  min-width: unset;
  width: 0;
}
.finderui-main .finderui-frame .finderui-pane .finderui-nodelist .finderui-directory,
.finderui-main .finderui-frame .finderui-pane .finderui-nodelist .finderui-file {
  margin: 0;
  padding: 0 6px;
}
.finderui-main .finderui-frame .finderui-pane .finderui-nodelist .finderui-directory a,
.finderui-main .finderui-frame .finderui-pane .finderui-nodelist .finderui-file a {
  cursor: default;
}
.finderui-main .finderui-frame .finderui-pane .finderui-nodelist .finderui-directory .finderui-item-label,
.finderui-main .finderui-frame .finderui-pane .finderui-nodelist .finderui-file .finderui-item-label {
  margin: 0;
}
.finderui-main .finderui-frame .finderui-pane .finderui-nodelist .finderui-directory.dir-open, .finderui-main .finderui-frame .finderui-pane .finderui-nodelist .finderui-directory.file-open,
.finderui-main .finderui-frame .finderui-pane .finderui-nodelist .finderui-file.dir-open,
.finderui-main .finderui-frame .finderui-pane .finderui-nodelist .finderui-file.file-open {
  background: blue;
  color: white;
}
.finderui-main .finderui-frame .finderui-pane .finderui-nodelist .finderui-directory {
  font-weight: 600;
}
.finderui-main .finderui-frame .finderui-pane .finderui-nodelist .finderui-file {
  font-weight: 400;
}
.finderui-main .finderui-frame .finderui-pane .finderui-display {
  align-items: center;
  display: flex;
  justify-content: center;
  min-width: 60vw;
  overflow: scroll;
  padding: 0 0 0 36px;
  position: relative;
  width: 100%;
}
.finderui-main .finderui-frame .finderui-pane .finderui-display .finderui-display-nodelist-toggle {
  background: #eee;
  top: 3px;
  font-weight: 700;
  left: 12px;
  position: absolute;
}
.finderui-main .finderui-frame .finderui-pane .finderui-display .finderui-display-viewport {
  display: block;
  height: 100%;
  max-width: 100%;
  padding: 0 36px 0 0;
  overflow-x: hidden;
  overflow-y: scroll;
}
@media only screen and (max-width: 759px) {
  .finderui-main .finderui-frame .finderui-pane .finderui-display {
    min-width: 284px;
    padding: 0 0 0 18px;
  }
  .finderui-main .finderui-frame .finderui-pane .finderui-display .finderui-display-nodelist-toggle {
    left: 6px;
  }
  .finderui-main .finderui-frame .finderui-pane .finderui-display .finderui-display-viewport {
    padding: 0 18px 0 0;
  }
}
