#root {
  box-sizing: border-box;
  font-family: -apple-system,BlinkMacSystemFont,'avenir next',avenir,helvetica,'helvetica neue',ubuntu,roboto,noto,'segoe ui',arial,sans-serif;
}

.fui-item-label {
  display: inline-block;
  text-overflow: ellipsis;
}

.fui-directory {
  font-weight: 500;
}
