#root {
  box-sizing: border-box;
  font-family: -apple-system,BlinkMacSystemFont,'avenir next',avenir,helvetica,'helvetica neue',ubuntu,roboto,noto,'segoe ui',arial,sans-serif;
}

@media (min-width: 1024px) {
  .struct-pane-container {
      transition: 0.15s;
      width: 30vw;
  }
}

.struct-pane-container {
  scroll-snap-type: x mandatory;
}

.struct-nodelist {
  background-color: #F2F2F7;
  border-right: 1px solid #E5E5EA;
  scroll-snap-align: start;
}

.struct-directory,
.struct-file {
  height: 22px;
  position: relative;
}

.struct-directory:after,
.struct-file:after {
  background: linear-gradient(to right, rgba(242, 242, 247, 0), 10%, rgba(242, 242, 247, 1) 70%);
  content: '';
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  width: 18px;
}

.struct-directory a:after,
.struct-file a:after {
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.struct-directory:hover,
.struct-file:hover {
  background: #E5E5EA;
}

.struct-directory:hover:after,
.struct-file:hover:after {
  background: linear-gradient(to right, rgba(229, 229, 234, 0), 10%, rgba(229, 229, 234, 1) 70%);
}

.struct-directory.dir-open,
.struct-file.file-open {
  background: #0000E1;
  color: white;
}

.struct-directory.dir-open:after,
.struct-file.file-open:after {
  background: linear-gradient(to right, rgba(0, 0, 225, 0), 10%, rgba(0, 0, 225, 1) 70%);
}
