// COLORS
$color-blue: rgb(0, 0, 225);
$color-gray: rgb(174, 174, 178);
$color-gray-lt: rgb(229, 229, 234);
$color-gray-lt2: rgb(242, 242, 247);
$color-white: rgb(255, 255, 255);

// ELEMENTWISE RESET
.finderui-nodelist {
  margin:0; padding:0; list-style:none;
  a{text-decoration:none; color:inherit; cursor:pointer;}
  button{background-color:transparent; color:inherit; border-width:0; padding:0; cursor:pointer;}
  h1, h2, h3, h4, h5, h6{margin:0; font-size:inherit; font-weight:inherit;}
  p,{margin:0;}
}

// COMPONENT STYLES
.finderui-main {
  display: flex;
  height: 100vh;
  left: 0;
  overflow-x: scroll;
  overflow-y: hidden;
  position: relative;
  top: 0;
  width: 100vw;

  .finderui-frame {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;

    .finderui-pane {
      display: flex;
      width: 100%;

      .finderui-nodelist {
        background-color: $color-gray-lt2;
        border-right: 1px solid $color-gray-lt;
        list-style-type: none;
        overflow-x: hidden;
        overflow-y: scroll;
        padding: 0;
        min-width: 180px;
        transition: 0.15s;
        width: 0;

        &.finderui-nodelist-closed {
          border-right: 0px solid transparent;
          min-width: 0;
          opacity: 0.5;
        }
        
        .finderui-directory,
        .finderui-file {
          height: 22px;
          margin: 0;
          position: relative;

          a {
            align-items: center;
            box-sizing: border-box;
            cursor: default;
            display: flex;
            flex-direction: row;
            height: 100%;
            padding: 2px 6px;
            width: 100%;
          }

          .finderui-item-icon {
            align-items: center;
            display: inline-flex;
            justify-content: center;
            margin: 0 6px 0 0;
          }

          .finderui-item-label {
            display: inline-flex;
            margin: 0;
            overflow: hidden;
            white-space: nowrap;
          }

          &.dir-open,
          &.file-open {
            background: $color-blue;
            color: $color-white;

            &:after {
              background: linear-gradient(to right, rgba($color-blue, 0), rgba($color-blue, 1) 90%);
            }
          }

          &:after {
            background: linear-gradient(to right, rgba($color-gray-lt2, 0), rgba($color-gray-lt2, 1) 90%);
            content: '';
            height: 100%;
            position: absolute;
            right: 0;
            top: 0;
            width: 18px;
          }
        }
      }

      .finderui-display {
        align-items: center;
        display: flex;
        justify-content: center;
        min-width: 60vw;
        overflow: hidden;
        padding: 0 0 0 36px;
        position: relative;
        width: 100%;

        .finderui-display-nodelist-toggle {
          align-items: center;
          background: $color-gray-lt2;
          border: 1px solid $color-gray-lt;
          border-radius: 50%;
          cursor: pointer;
          display: flex;
          height: 23px;
          justify-content: center;
          left: 6px;
          outline: none;
          padding: 0;
          position: absolute;
          top: 6px;
          width: 23px;
          z-index: 1;

          .finderui-nodelist-toggle-content {
            display: flex;
            font-weight: 700;
          }
        }

        .finderui-display-viewport {
          display: block;
          height: 100%;
          padding: 0 36px 0 0;
          overflow-x: hidden;
          overflow-y: scroll;
          width: 100%;
          -webkit-overflow-scrolling: touch;

          .finderui-display-content-container {
            overflow: hidden;
          }
        }

        @media only screen and (max-width: 759px) {
          min-width: 284px;
          padding: 0 0 0 18px;

          .finderui-display-viewport {
            padding: 0 18px 0 0;
          }
        }
      }
    }
  }
}
