#root {
  box-sizing: border-box;
  font-family: -apple-system,BlinkMacSystemFont,'avenir next',avenir,helvetica,'helvetica neue',ubuntu,roboto,noto,'segoe ui',arial,sans-serif;
}

@media (min-width: 1024px) {
  .struct-pane-container {
    transition: 0.15s;
    width: 30vw;
  }
}

.struct-nodelist {
  border-right: 1px dashed lightgray;
}

.struct-nodelist.struct-nodelist-closed {
  border: none;
}

.struct-item-label {
  display: inline-block;
  text-overflow: ellipsis;
}

.struct-directory {
  font-weight: 500;
}

.struct-directory a,
.struct-file a {
  cursor: pointer;
}
