#root {
  box-sizing: border-box;
  font-family: -apple-system,BlinkMacSystemFont,'avenir next',avenir,helvetica,'helvetica neue',ubuntu,roboto,noto,'segoe ui',arial,sans-serif;
}

@media (min-width: 1024px) {
  .fui-pane-container {
    transition: 0.15s;
    width: 30vw;
  }
}

.fui-nodelist {
  border-right: 1px dashed lightgray;
}

.fui-nodelist.fui-nodelist-closed {
  border: none;
}

.fui-item-label {
  display: inline-block;
  text-overflow: ellipsis;
}

.fui-directory {
  font-weight: 500;
}

.fui-directory a,
.fui-file a {
  cursor: pointer;
}
